canvas {
  border: 2px solid #000000
}

.mode-button {
  width: 200px;
  height: 120px;
  display: inline-block;
  border: 3px solid lightgreen;
  margin: 10px;
  cursor: pointer;
  vertical-align: top;
  background-color: transparent;
}

.mode-button:hover {
  background-color: lightgreen;
}


.mode-title {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.mode-text {
  font-size: 16px;
  text-align: left;
}

#controls {
  display: inline-block;
}

#powerups {
  display: inline-block;
}

.powerup-description {
  font-weight: bold;
}

#green {
  color: green;
}

#blue {
  color: blue;
}

#red {
  color: red;
}

#orange {
  color: orange;
}

.mode-text {
  padding: 5px;
}

.mode-title, .mode-text, h2, #instructions * {
  font-family: "Arial";
}

#game {
  background-image: url("../images/background.jpg");
}
