.hidden {
	display: none;
}

canvas {
	border: 2px solid #000000
}

.mode-button {
	width: 200px;
	height: 120px;
	display: block;
	float: left;
	border: 3px solid lightgreen;
	margin: 10px;
  cursor: pointer;
}

#instructions {
  display: inline-block;
}


.mode-title {
	text-align: center;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#controls {
  display: inline-block;
}

#powerups {
  display: inline-block;
}

.powerup-description {
  font-weight: bold;
}

#green {
  color: green;
}

#blue {
  color: blue;
}

#red {
  color: red;
}


.mode-text {
	padding: 5px;	
}

.mode-title, .mode-text, h2, #instructions * {
  font-family: "Arial";
}

.hovered {
	background-color: lightgreen;
}

#game {
  background-image: url("../images/background.jpg");
}

