.hidden {
	display: none;
}

canvas {
	border: 2px solid #000000
}

.mode-button {
	width: 200px;
	height: 120px;
	display: block;
	float: left;
	border: 3px solid lightgreen;
	margin: 10px;
}



.mode-title {
	text-align: center;
	font-size: 20px;
	font-family: "Arial";
	margin-top: 10px;
	margin-bottom: 10px;
}

.mode-text {
	font-family: "Arial";
	padding: 5px;	
}

.hovered {
	background-color: lightgreen;
}